/* styles.css */
.text-bg-dark {
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: brightness(50%);
}

.text-bg-dark .text-center {
  filter: brightness(0%);
  height: 100vh;
}
